BODY  {
  background: #ccc;
  font-size: 16px;
}

#main {
  width: 1000px; 
  background:	#fff;
  border:	1px solid #000;
  margin: 0px auto;
  font-family: "Lucida Grande", Tahoma, Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  padding: 0px 0px 0px 0px;
  color: #444444;
}

#header {
  background: #0B2229;
  margin: 0px 0px 40px 0px;
  border: 0px;
  padding: 0px;
}

#header_logo {
  padding: 7px 0px 0px 20px;
  float:left;
  border: 0px;
  margin: 0px;
  font-size: 0px;
  /* height: 63px;
  overflow: hidden; */
}

#header_ad {
    font-size: 10px;
    color: #cccccc;
    padding-top: 10px;
    margin-right: 20px;
    text-align: right;
}

#header_menu {
    height: 25px;
    background-image: url('../images/fade_menu.png');
    background-repeat: repeat-x;
    padding: 0px 0px 0px 20px;
    word-spacing: +15px;
    margin: 10px 0px 0px 0px;;
    line-height: 25px;
    border: 0px;
}

#header_menu A {
  color: #f0f0f0;
  font-weight: bold;
  text-decoration: none;
}
	     
#header_menu A:hover {
  text-decoration: underline;
}

/********** Left menu definitions **********/

#leftmenu {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  width: 160px;
  float:left;
}

.nrow, .nrow_open, .nrow_closed, .nrow1, nrowexp, .menu, .nrow1_open, nrow1_closed, .nrow1_label_open, .nrow1_label_closed, .nrow1_indent_open, .nrow1_indent_closed
{
 background-color:    #f4efd5;
 background-color:    #fcfcfc;
 background-color:    transparent;
 border-style:        solid;
 border-left-color:   transparent;
 border-top-color:    transparent;
 border-right-color:  transparent;
 border-bottom-color: #eaeaF2;
 border-bottom-color: #F4D6EA;
 border-bottom-color: #A894A2;
 border-left-width:   0px;
 border-right-width:  0px;
 border-top-width:    0px;
 border-bottom-width: 1px;
 padding-top:    2px;
 padding-left:   2px;
 padding-bottom: 2px;
}

.nrow1_open {
 display:        block;
 padding-left:   14px;
}
.nrow1_label_open {
    font-weight: bold;
    color: #bbb;
    display:        block;
    padding-left:   14px;
}
.nrow1_indent_open {
    display:        block;
    padding-left:   24px;
}
.nrow1_closed, .nrow1_label_closed, .nrow1_indent_closed {
 display:        none;
}

.nrowexp {
 border-bottom-color: transparent;
}

.erow {
 display: block;
}

.nerow {
 display: none;
}

/********** Mainblock **********/
#mainblock {
  margin-left: 180px; 
  padding-right: 15px;
  padding-left: 15px;
}

/********** Footer **********/
#footer {
  clear:both;
  border-style: solid;
  border-color: #802060;
  border-width: 1px 0px 0px 0px;
  margin:	20px 15px 15px 15px;
}

#copyright {
  margin-left: 200px;
  font-size:0.7em;
  color: #000;
  text-align: right;
  padding: 5px 10px 0px 0px;
}	  

H1.home  {
    /* 	Georgia, Helvetica Neue, Futura, Gill Sans, Optima, */
    font-family: Helvetica Neue, Helvetica, Verdana, Arial, Helvetica, sans-serif;
    font-size:	2em;
    font-weight:	bold;
    background:	#fff;  
    color:		#4A4A4A;
    border-style:  solid;
    border-color: #802060;
    border-width:	0px 0px 1px 0px;
    padding-bottom:      2px;
    margin-top: 0px;
    letter-spacing: -0.6px;
 /* background-image: url('../images/shortfadeout_20px.png'); */
}

H1, H1.kf {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight:bold;
    border-style: solid;
    border-color: #802060;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 2px;
    color:		#3A3A3A;
}

H2, H2.kf  {
    font-family: Helvetica Neue, Lucida Grande, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:	1.6em;
    font-weight:bold;
    border-style: none;
    color:		#4A4A4A;
    /* border-style:  solid; */
    border-color:	#ccc;
    border-width:	1px 0px 1px 0px;
    /* background-image: url('../images/shortfadeout_20px.png'); */
    /* background-repeat: repeat-x; */
    padding: 0; /* 3px 0px 3px 6px; */
    margin: 0.8em 0 0.4em 0;
}

/*
H2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:bold;
  border-style: solid;
  border-color: #802060;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 2px;
}
*/

H3  {
 font-family: Lucida Grande, Tahoma, Verdana, Arial, Helvetica, sans-serif;
 font-size: 1.1em;
 font-weight:bold;
 background:          #805362;  
 color:		      #ffffff;
 border-style:        solid;
 border-color: #000000;
 border-width: 1px;
 padding-top:         2px;
 padding-bottom:      2px;
 padding-left:        8px;
 color:		#444444;
 border-style:  solid;
 border-color:	#ccc #fff #ccc #fff;
 border-width:	1px;
 border-width:	1px 0px 1px 0px;
 background-image: url('../images/shortfadeout_20px.png');
 background-repeat: repeat-x;
}

H3.home, .home_top  {
 font-family:	Verdana, Arial, Helvetica, sans-serif;
 font-size:	14px;
 font-weight:	bold;
 background:	#fff;  
 color:		#444444;
 border-style:  solid;
 border-color:	#ccc #fff #ccc #fff;
 border-width:	1px;
 padding-bottom:      2px;
 background-image: url('../images/shortfadeout_20px.png');
 background-repeat: repeat-x;
}

H3.home_top  {
  background:	#000;  
  color:	#ccc;
  margin-top:	0px;
  background-image: url('../images/fade_menu_gray.gif');
  background-repeat: repeat-x;
  border-width:	0px 0px 1px 0px;
  padding:      3px 0px 1px 8px;
}
  
H3.kf {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:		#444444;
    background:		#ffffff;
    border-style:       none;
    background-image:	none;
    padding:		0px;
    margin-bottom:	6px;
    
}

/********** table stuff **********/
TD  {
    font-family: Lucida Grande,Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align:left;
    vertical-align:top;
}

TH  {
    font-family: Lucida Grande,Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align:left;
    vertical-align:top;
    font-weight:bold;
    padding-right: 10px;
}

table.fancy {
  border-collapse: collapse;
}

TR.fancy {
  background: #C9C9C9;
  border-bottom: 2px solid #A3A3A3;
  border-top: 2px solid #A3A3A3;
}

TD.fancy_row {
  background: #C9C9C9;
  border-bottom: 2px solid #A3A3A3;
  border-top: 2px solid #A3A3A3;
}

table.fancy td {
  padding: 2px 4px 2px 4px;
}
	
TD.highlight {
  background: #f1f1f1;
}

TD.newsdate {
 white-space:	nowrap;
}  

TD.nowrap {
 white-space:	nowrap;
}  

TD.newstext {
 padding-left: 10;
 padding-bottom: 5;
}

table.kf {
    margin-top: 1em;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    background-color: #ffffff;
    border-style: solid;
}

table.kf th {
    font-weight: bold;
    text-align:center;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #999999;
    background-color: #dedede;
}


table.kf td {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-color: #999999;
    background-color: #ffffff;
}

table.kf td.subhead {
    font-weight: bold;
    background: #eeeeee;
}

table.kf td.kfpro {
    color: #888888;
    background-color: #ffffff;
    /* background-image: url('../images/knopflerfish_pro.png');*/
    background-repeat: no-repeat;
    background-position: center center;
}

table.kf td.optional {
    color: #888888;
    background-color: #ffffff;
}

table.kf_snow {
    border-style: none;
    border-collapse: collapse;
}

table.kf_snow th {
    padding: 3px 18px 3px 0px;
    font-weight: bold;
}

table.kf_snow td {
    padding: 3px 18px 3px 0px;
}

DIV.home_main {
  width: 500px;
  float:left;
}

DIV.home_side {
  margin-left: 520px;
  /* padding-top: 10px; */
}	   

#home_page {
  margin: 5px;	   
}

PRE {
 font-family: Monaco, Courier New, Courier;
 font-size:11px;
 color:            #000000;
 background-color: #f7F7FF;
 text-align:left;
 font-weight:normal;
 border-style: solid;
 border-color: #ddddff;
 border-width: 1px;

}

A {
 text-decoration: none;
 color: #802060;
}

A:hover {
 text-decoration: underline;
}

#leftmenu A {
 color: #000;
}

#leftmenu A:hover {
 font-weight: bold;	  
 text-decoration: underline;
}

.searchfield {
 font-size:           11px;
 color:               #aaaaaa;
 padding-left:        3px;
 border-left-color:   #eaeaF2;
 border-top-color:    #eaeaF2;
 border-bottom-color: #eaeaF2;
 border-right-color:  #eaeaF2;
 border-style:        solid;
 border-left-width:   0px;
 border-right-width:  1px;
 border-top-width:    0px;
 border-bottom-width: 1px;
}

.pagebuttons {
 padding-left: 10px;
 font-weight:  normal;
 font-size: 10px;
 border-left-color:   #eaeaF2;
 border-top-color:    #eaeaF2;
 border-bottom-color: #eaeaF2;
 border-right-color:  #eaeaF2;
 border-style:        solid;
 border-left-width:   1px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
}

.button_closed, .button_open {
  padding-top:    5px;
  padding-left:   5px;
  padding-bottom: 5px;
  padding-right:  5px;
 border-left-color:   #eaeaF2;
 border-top-color:    #eaeaF2;
 border-bottom-color: #eaeaF2;
 border-right-color:  #eaeaF2;
 border-style:        none;
 border-left-width:   1px;
 border-right-width:  1px;
 border-top-width:    1px;
 border-bottom-width: 1px;
 border: 0px;
 font-weight: normal;
 margin: 0px;
}

.button_open {
 font-weight: bold;
}

.makewave {
 padding-top: 20px;
 background-color: transparent;
}

.makewave_2 {
 margin-left: 4px;
 margin-top: 4px;
 background-color: transparent;
}

#release_notes dt {
  font-weight: bold;
}

#release_notes dd {
  margin-bottom: 10px;
}

.release_notes dt {
  font-weight: bold;
}

.release_notes dd {
  margin-bottom: 10px;
}

.kf dt {
  font-weight: bold;
}

.kf dd {
  margin-bottom: 10px;
}


.inline_right {
  float: right;
  margin: 0 0 6px 10px;
}

.inline_left {
  float: left;
  margin: 0 6px 10px 0;
}
	   
DIV.break {
  clear: both;
  margin: 0px;
  border: 0px;
  font-size:0px;
  line-height:0px;
}

.infobox {
    border:solid 1px #DEDEDE;
    background:#EFEFEF;
    color:#222222;
    padding:4px;
    text-align:center;
    width: 200px;
} 

.infobox_title {
    background:#CFCFCF;
    background:#E1E1E1;
    font-weight:bold;
    padding: 2px;
    margin: -4px -4px 2px -4px;
    color:#222222;
}

ul.kf {
    margin-top: .3em;
    margin-bottom: .5em;
    padding-left: 30px;
}

ul.kf li {
    padding-top: .3em;
}

p {
    margin-top: .5em;
    margin-bottom: .5em;
}

div.newshd {
    margin-bottom: 0.5em; 
    font-weight: bold;
}

div.newssubhd {
    margin-bottom: -2px;
    font-style: italic;   
    color: #8a8a8a;
    color: #4a4a4a;
}

td.newstext p.newsbody {
    padding-left: 2em;
}

div.newkf4:after {
    content: " - (4.3)";
}